.central-main{
	color:#000;
	background-color: #FFF;
    border-radius: 5px;
    border: 1px solid #D4D99E;
    padding: 20px; 

}
.top-spacer{
	height: 10px;
}
.logo{
	display: inline-block;
}
.search-bar{
	display: inline-block;
	float:right;
	padding-right: 100px;
}
.menu-subtittle{
	padding-left: 20px;
	padding-right: 20px;
	font-weight: bold;
	color:#A1AB36;
	padding-top: 10px;
}
.menu-text{
	padding-left: 20px;
	padding-right: 20px;
	color:#747B2E;
	padding-top: 10px;
}
.auto-width{
	width: 700px;
}
.img-banner{
	/*width: 100%;*/
	width: 100px;
}
.centered{
	text-align: center;
}
.footer{	
	padding-top: 10%;
}
.spaced{
	margin-bottom: 25px;
}
.short-spaced{
	margin-bottom: 15px;
}
.question{
	padding-left:2em;
}
.question-letter{
	color: #07C;
	font-weight: bold;
	text-decoration: none;
}
.answer-letter{
	color: #5eac1a;
	font-weight: bold;
}
.answers{
	display: none;	
}
.correct{
	display: none;
}
.imgExplanation{
	max-width: 200px;
}
